<p id="notice"><%= notice %></p>

<p>
  <strong>Area:</strong>
  <%= Area.find(@article.area_id).area %>
</p>

<p>
  <strong>Author:</strong>
  <%= Author.find(@article.author_id).name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
